
<section class="row justify-content-center">
    <div class="col-md-3 first">
        <h4>About Us</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio tellus</p>
        
 <section class="col-md-1"></section>
    </div>
    <div class="col-md-3"><br><br>
       <p class="copy">Copyright © 2021 school, All rights reserved</p>
    </div>
    <div class="col-md-3 last">
        <h4>Contact Us</h4>
        <p><span>E-mail:</span> school@gmail.com</p>
        <p><span>Phone:</span>  22443684/7722512</p>
    </div>
</section>