
<div class="bg-light"><br><br>
  <h2 class=" mb-3"> First 10 excellent students</h2><br>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-down-right">
          <figure>
            <img src="assets/s1.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Karma</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm"data-aos="fade-down-left" data-aos-duration="3000">
          <figure>
            <img src="assets/s2.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Nardine</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div> 
           <div class="col">
        <div class="card shadow-sm" data-aos="fade-up-left" data-aos-duration="3000">
          <figure>
            <img src="assets/s3.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Leena</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-down" data-aos-duration="3000">
          <figure>
            <img src="assets/s4.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Salma</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-right" data-aos-duration="3000">
          <figure>
            <img src="assets/s5.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Mariam</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-left" data-aos-duration="3000">
          <figure>
            <img src="assets/s6.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Ali</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-up-right" data-aos-duration="3000">
          <figure>
            <img src="assets/s7.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Karin</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-up-left" data-aos-duration="3000">
          <figure>
            <img src="assets/s8.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Marina</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-down-right" data-aos-duration="3000">
          <figure>
            <img src="assets/s9.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Malak</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" data-aos="fade-down-left" data-aos-duration="3000">
          <figure>
            <img src="assets/s10.jpg"  class="card-img-top" alt="...">
        </figure>
          <div class="card-body">
            <h4 class="card-title">Adam</h4>
            <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>