<section class="second">
<p data-aos="fade-up" data-aos-duration="3000">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio tellus, porta in lacinia a, vulputate sodales turpis. Etiam vel tellus sit amet felis posuere dignissim fermentum sit amet nunc. Quisque sit amet orci ante.
     Nullam quis metus ut ante volutpat eleifend. Pellentesque in urna nisi. Aliquam non nibh molestie, vulputate dui sit amet, egestas nunc. Cras placerat efficitur mollis."</p>
<p class="custom" data-aos="fade-up"data-aos-duration="2000">-School Word</p>
</section>